.contact-page{
    min-height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    padding: 0 35px;
}
.contact-container{
    width: 700px;
    height: 500px;
    margin: auto;
    border: 5px solid rgb(224, 255, 214);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-info-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
}
.contact-header{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Abhaya Libre';;
}
.contact-block{
    font-size: 18px;
    text-align: center;
    
}
.contact-block a{
    color: rgb(86, 197, 86);
}
.contact-resume-downloader{
    margin: auto;
    width: 200px;
    height: 40px;
    background-color: rgb(148, 235, 148);
    color: black !important;
    text-decoration: none;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-resume-downloader:hover{
    background-color: rgb(114, 228, 114);
}